{% extends "AppBundle::base.html.twig" %}

{% block title %}Commenter{% endblock title %}

{% block body %}
    <h1>Laisser un commentaire à {{ username }}</h1>

    {% if success_message is defined %}
        <p class="bg-success">{{ success_message }}</p>
    {% endif %}

    {{ form(form) }}

    {% if comments is not empty %}
        <hr>

        <h1>Les commentaires des dépôts de Zelfrost</h1>

        <div id="comments">
        {% for comment in comments %}
            <div class="comment">
                <p>Sur <u>{{ comment.repository }}</u>, par {{ comment.author.username }}</p>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <a href="{{ path('index') }}" class="btn btn-block btn-info">Retour</a>
{% endblock body %}
